@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  padding-top: 2rem; /* Increase the top padding for the hero section */
}

.banner-image {
  margin-top: 3rem; /* Increase the top margin for the banner image */
}
